* {
  /* border: 2px solid grey; */
  padding: 0;
  margin: 0;
  max-width: 100%;
  color: white;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  background-image: url(https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=878&q=80);
}

html {
  font-size: 62.5%;
}

.header {
  width: 22%;
  height: 90vh;
  position: fixed;
  background-color: rgb(122, 21, 122);
  padding-top: 10%;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav a {
  margin-top: 10%;
  text-decoration: none;
}

nav a:hover {
  font-size: 2.5rem;
  color: rgb(133, 27, 182);
}

img {
  width: 75%;
  height: 26%;
  margin-left: 11%;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(136, 69, 136);
  border-width: 7px;
}

span {
  color: rgb(122, 21, 122);
}

.titles {
  width: 70%;
  margin-left: 20.7%;
  padding-left: 5%;
}

h1 {
  font-size: 6.5rem;
}

.container {
  height: 100%;
}

section {
  border-bottom: solid;
  border-width: 2px;
  margin-top: 3%;
  margin-left: 20.7%;
  padding-left: 5%;
  padding-bottom: 3%;
  width: 70%;
}

.titles {
  padding-top: 10%;
}

.inline-top {
  display: flex;
}

.inline-top h2 {
  width: 30%;
}

.inline-top p {
  width: 30%;
  font-size: 2rem;
  font-family: cursive;
}

.inline {
  display: flex;
}

.inline h2 {
  width: 30%;
}

.inline p {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-left: 33%;
}
li {
  list-style-position: inside;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a:hover {
  color: rgb(133, 27, 182);
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 40vh;

    position: relative;
    background-color: rgb(122, 21, 122);
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  nav a {
    font-size: 1.1em;
    margin-top: 0%;
    margin-right: 2.5%;
    width: 30%;
    text-decoration: none;
  }

  nav a:hover {
    font-size: 2.4rem;
    color: rgb(133, 27, 182);
  }

  img {
    width: 25%;
    height: 50%;
    margin-left: 37%;
    margin-bottom: 5%;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(136, 69, 136);
    border-width: 7px;
  }

  h1 {
    font-size: 6rem;
  }

  section {
    margin-left: 13%;
  }

  .titles {
    margin-left: 13%;
  }
}

@media (max-width: 480px) {
  nav a {
    font-size: 0.9em;
    margin-top: 6%;
    margin-right: 2.5%;
    width: 30%;
    text-decoration: none;
  }

  nav a:hover {
    font-size: 1.8rem;
    color: rgb(133, 27, 182);
  }

  img {
    width: 35%;
    height: 50%;
    margin-left: 32%;
    margin-bottom: 5%;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(136, 69, 136);
    border-width: 7px;
  }

  h1 {
    font-size: 4.8rem;
  }

  .titles {
    width: 90%;
  }

  .inline-top p {
    margin: 2%;
  }
}
